<section class="profile py-5">
    <div class="container">
      <div class="profile-cover rounded-4 p-3 p-sm-5 position-relative">
        <div class="row my-2 my-xl-5 z-1 position-relative">
          <div class="col-md-8 mx-auto">
            <h1 class="text-center text-white fs-lg-50 fs-32 fw-bold max-w-70 m-auto mb-xl-0 mb-3">Your Profile</h1>
          </div>
        </div>
  
        <form class="bg-white shadow rounded-4 position-relative p-4 pe-md-5 pb-5 pb-md-4 mb-4 z-1" (ngSubmit)="updateProfile()">
          <div class="row">
            <!-- Name input -->
            <div class="col-lg-6 mb-3">
              <div class="d-flex align-items-center gap-1">
                <div class="w-px-50 d-flex justify-content-center">
                  <i class="fa fa-user color-gray-800 fs-25"></i>
                </div>
                <div class="flex-1 position-relative">
                  <label class="fs-16 color-gray-700">Name</label>
                  <input type="text" [(ngModel)]="profile.fullName" name="name" class="form-control rounded-3" [disabled]="!isEditing" />
                </div>
              </div>
            </div>
  
            <!-- Username input -->
            <div class="col-lg-6 mb-3">
              <div class="d-flex align-items-center gap-1">
                <div class="w-px-50 d-flex justify-content-center">
                  <i class="fa fa-user-circle color-gray-800 fs-25"></i>
                </div>
                <div class="flex-1 position-relative">
                  <label class="fs-16 color-gray-700">Username</label>
                  <input type="text" [(ngModel)]="profile.email" name="username" class="form-control rounded-3" disabled />
                </div>
              </div>
            </div>
  
            <!-- Personal Interest input -->
            <div class="col-lg-6 mb-3">
              <div class="d-flex align-items-center gap-1">
                <div class="w-px-50 d-flex justify-content-center">
                  <i class="fa fa-heart color-gray-800 fs-25"></i>
                </div>
                <div class="flex-1 position-relative">
                  <label class="fs-16 color-gray-700">Personal Interests</label>
                  <input type="text" [(ngModel)]="profile.personalInterests" name="personalInterests" class="form-control rounded-3" [disabled]="!isEditing" />
                </div>
              </div>
            </div>
  
            <!-- Field of Study input -->
            <div class="col-lg-6 mb-3">
              <div class="d-flex align-items-center gap-1">
                <div class="w-px-50 d-flex justify-content-center">
                  <i class="fa fa-graduation-cap color-gray-800 fs-25"></i>
                </div>
                <div class="flex-1 position-relative">
                  <label class="fs-16 color-gray-700">Field of Study</label>
                  <input type="text" [(ngModel)]="profile.fieldOfStudy" name="fieldOfStudy" class="form-control rounded-3" [disabled]="!isEditing" />
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-12 text-center mt-4">
            <button *ngIf="!isEditing" type="button" class="btn btn-primary px-4" (click)="toggleEdit()">Edit Profile</button>
            <ng-container *ngIf="isEditing">
              <button type="submit" class="btn btn-success px-4 me-2">Save Changes</button>
              <button type="button" class="btn btn-secondary px-4" (click)="cancelEdit()">Cancel</button>
            </ng-container>
          </div>
        </form>
      </div>
    </div>
  </section>