<section class=" login-section">
    <div class="h-100 d-flex">
        <div class="bg-mode rounded-4 overflow-hidden w-100">
            <div class="row g-0">
                <div
                    class="col-lg-6 align-items-center justify-content-center order-2 order-lg-1 d-lg-flex d-none border-end-lg-1 border-gray-300">
                    <div class="p-3 p-lg-5">
                        <img src="../../../../assets/img/brandLogo.jpg" alt="" class="img-fluid w-px-400">
                    </div>
                </div>

                <div class="col-lg-6 order-1">
                    <div class="p-4 p-sm-7 vh-xxl-100 overflow-auto">
                        <div class="max-w-px-500 mx-auto">
                            <a href="index.html">
                                <img class="h-px-50 mb-4" src="../../../../assets/img/brandLogo.jpg" alt="logo">
                            </a>
                            <h1 class="mb-2 h3 fw-bold color-gray-900">Welcome back</h1>
                            <p class="mb-0 color-gray-600">New here?<a routerLink="/accounts/signup"> Create an
                                    account</a></p>

                                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mt-4 text-start">
                                        <div class="mb-3">
                                          <label for="email" class="form-label color-gray-600">Enter email id</label>
                                          <input
                                            id="email"
                                            formControlName="email"
                                            type="email"
                                            class="form-control rounded-2 h-px-40"
                                          />
                                          <div *ngIf="f.email.touched && f.email.invalid" class="text-danger">
                                            <small *ngIf="f.email.errors?.required">Email is required.</small>
                                            <small *ngIf="f.email.errors?.email">Invalid email format.</small>
                                          </div>
                                        </div>
                                      
                                        <div class="mb-3 position-relative">
                                          <label for="password" class="form-label color-gray-600">Enter password</label>
                                          <input
                                            id="password"
                                            formControlName="password"
                                            type="password"
                                            class="form-control rounded-2 h-px-40"
                                          />
                                          <div *ngIf="f.password.touched && f.password.invalid" class="text-danger">
                                            <small *ngIf="f.password.errors?.required">Password is required.</small>
                                            <small *ngIf="f.password.errors?.minlength">
                                              Password must be at least 6 characters long.
                                            </small>
                                          </div>
                                        </div>
                                      
                                        <div class="mb-3 d-sm-flex justify-content-between align-items-center">
                                          <div class="d-flex align-items-center gap-2">
                                            <input
                                              type="checkbox"
                                              class="form-check-input checkbox-sm"
                                              id="rememberCheck"
                                              formControlName="rememberMe"
                                            />
                                            <label class="form-check-label color-gray-600 pt-1" for="rememberCheck">
                                              Remember me?
                                            </label>
                                          </div>
                                        </div>
                                      
                                      
                                        <div>
                                          <button
                                            type="submit"
                                            class="btn btn-primary w-100 mb-0 mt-3"
                                            [disabled]="isSubmitting"
                                          >
                                            {{ isSubmitting ? 'Logging in...' : 'Login' }}
                                          </button>
                                        </div>
                                      </form>


                                      <div class="d-flex justify-content-center" routerLink="/accounts/forgot-password">
                                        <a class="mt-5 cursor-pointer fs-14 hover-opacity-85">Forgot Your Password?</a>
                                      </div>
                                      
                        </div>
                        <!-- Form END -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<p-toast></p-toast>