<header role="banner" id="header" class="header z-index-99">
    <a href="index.html" class="header__logo">
      <img src="../../../../../assets/img/brandLogo.png" alt="Company Logo" class="img-fluid w-rem-md-10 w-rem-7" />
    </a>
    <div class="header-right justify-content-xl-between justify-content-end w-100">
      <ul class="header__nav">
        <li class="item "routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"  routerLink="/">
          <a > Home </a>
        </li>
        
       
        <li class="item" routerLinkActive="active" routerLink="/activities">
            <a> Activities </a>
          </li>
          <li class="item" routerLinkActive="active" routerLink="/student-projects">
            <a> Student Projects </a>
          </li>
          <li class="item" routerLinkActive="active" routerLink="/find-students">
            <a> Find Student </a>
          </li>
          <li class="item" routerLinkActive="active" routerLink="/faq">
            <a> FAQ </a>
          </li>
          <li class="item" routerLinkActive="active" routerLink="/how-to-use">
            <a> How to Use </a>
          </li>
          <!-- <li class="item" routerLinkActive="active" routerLink="/profile">
            <a> Profile </a>
          </li> -->
      </ul>
     
      <div class="d-flex align-items-center gap-2">
        <!-- Profile Image -->
        <a [routerLink]="['/profile']">
          <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png?20150327203541"
               class="rounded-circle img-fluid w-px-36 h-px-36"
               alt="User Avatar" />
        </a>
        
      
        <!-- User Full Name -->
        <div class="fw-medium fs-14 max-w-px-98 max-w-px-sm-none">{{fullName}}</div>
      
        <!-- Logout Round Button with Power-Off Icon -->
        <button type="button" class="btn btn-danger rounded-circle min-w-px-28 h-px-28 d-flex justify-content-center align-items-center p-0" (click)="logoutUser()">
          <i class="fa fa-power-off text-white fs-14"></i> <!-- Power-off icon inside a small round button -->
        </button>
      </div>
      <div class="header__mobilenav">
        <i class="fa-solid fa-bars" (click)="navbarToggler()"></i>

        <div class="sidebar" id="sidebarMenu" [ngClass]="isNavbarOpen ? 'is-open':''">
          <ul class="sidebar__nav">
            <li class="item "routerLinkActive="active" routerLink="/" (click)="isNavbarOpen = false">
              <a > Home </a>
            </li>
            
           
            <li class="item" routerLinkActive="active" routerLink="/activities" (click)="isNavbarOpen = false">
                <a> Activities </a>
              </li>
              <li class="item" routerLinkActive="active" routerLink="/student-projects" (click)="isNavbarOpen = false">
                <a> Student Projects </a>
              </li>
              <li class="item" routerLinkActive="active" routerLink="/find-students" (click)="isNavbarOpen = false">
                <a> Find Student </a>
              </li>
              <li class="item" routerLinkActive="active" routerLink="/faq" (click)="isNavbarOpen = false">
                <a> FAQ </a>
              </li>
              <li class="item" routerLinkActive="active" routerLink="/how-to-use" (click)="isNavbarOpen = false">
                <a> How to Use </a>
              </li>
              <!-- <li class="item" routerLinkActive="active" routerLink="/profile" (click)="isNavbarOpen = false">
                <a> Profile </a>
              </li> -->

          </ul>
        </div>
      </div>
    </div>
  </header>